.view-page
  %div
    .row.large-12.columns
      .large-4.columns
        %h3 Administrator Dashboard
        %p This is your command center! From here you can create and edit organizations, as well as mark them as active or inactive. If you would like to create or edit a specific organization's needs, you may do so from the organization's main page.
        .org-create
          = render 'organizations/form'
          .button Create New Organization
        
        .row.happy#numbers
          %h6= "total organizations: #{@organizations.count}"
          %span.happy.large3.columns
            %h6 
              total organizations active: 
              %span.pending-num= @active
              %br
              total organizations inactive:
              %span.pending-num= @organizations.count - @active
          %h6 #{ link_to "total offers: #{@offers.length}", offers_path, remote: true }
          .row.happy
            %canvas#offerTimeChart
          .large-12.columns
            %h6 
              total offers pending: 
              %span.pending-num= @pending
            %h6 
              total offers denied: 
              %span.denied-num= @denied
            %h6 
              total offers accepted:
              %span.accepted-num= @accepted
          .row
            %canvas#offerStatusChart
        / = form_for [@organization, @need], remote: true do |f|     
        /   %div#need_form
        /     %h4 List a new need:
        /     = f.select :category, options_for_select(["electronics","furniture","clothing","other"], @need.category)
        /     = f.label :description
        /     = f.text_area :description
        /     = f.submit
        /     %p
      .large-8.columns#offers 
      .large-8.columns#needsList 
        %h3 Organizations
        %table.center
          %thead
            %tr
              %th Representative
              %th Organization Name
              %th Organization Description
              %th Status
          %tbody#organizations
            - @organizations.each do |organization|
              %tr{class: "delete_organization_#{organization.id}"}
                %td 
                  -if organization.owner_id
                    = User.find_by_id(organization.owner_id).name
                  - else
                    unclaimed organization
                %td
                  = simple_format link_to word_wrap(organization.name ), organization_path(organization)
                %td
                  = simple_format word_wrap(organization.description.truncate(200))  
                %td
                  = form_for organization do |f|
                    Active #{f.check_box :status, class: 'checkable', remote: true}
                %td
:javascript
  var doughnutData = [{value: #{@accepted}, color:"#F7464A"},{ value: #{@denied}, color:"#000" },{ value: #{@pending}, color:"#F38630" }]
  
  var lineData = {labels: ["-3 week","-2 week","-1 week","this week"], datasets: [{fillColor: "#F7464A", strokeColor: "#000)", pointColor: "#E2EAE9", pointStrokeColor: "#fff", data: [#{@three_weeks_ago},#{@two_weeks_ago},#{@one_week_ago},#{@this_week}]}]}
