%tr{class: "delete_need_#{need.id}"}
  %td
    = simple_format link_to word_wrap(need.description ), need_path(need)  
  %td#activity_status
    = form_for need do |f|
      - if need.status == true
        Active #{f.check_box :status, class: 'checkable', remote: true}
      - else
        Inactive #{f.check_box :status, class: 'checkable', remote: true}
  %td
    - if need.category.present?
      = need.category 
    - else
      No category listed

  %td
    = link_to 'Edit', need_path(need.id), method: :edit
  %td
    = link_to 'Delete', need, confirm: 'Are your sure?', method: :delete, remote: true