.view-page
  .center  
    - if @needs.length == 0
      %h3 Your search has not returned any results. 
      %h3 Please try a different search.
      %br
      %h4 Tips and Suggestions:
      %br
      %p 
        %strong
          1. 
        Make your search as simple as possible. 
      %p For example: instead of searching "brown chair", try just "chair".
      %br
      %p 
        %strong
          2. 
        You can search organization names as well as need descriptions.
    - else
      %h3 Needs by Organization
      .row
        .large-12.columns
          - @needs.each do |need|
            .large-3.medium-4.small-12.columns.left
              .card
                = link_to organization_path(need.organization.id) do
                  .org-panel
                    .center
                      %h6= need.organization.name
                .upper-panel
                  .center  
                    %h5= need.description.truncate(45)
                  .needsModal.reveal-modal.small{"data-reveal" => ""}
                    .row
                      %h3= "#{need.organization.name} needs"
                      %p= need.description
                      %p= link_to "Make offer", new_offer_path(need)
                      %a.close-reveal-modal ×
                = link_to new_offer_path(need) do
                  .panel
                    .center
                      %h6 Make Offer
          = will_paginate @needs, renderer: FoundationPagination::Rails, outer_window: 0, inner_window: 1  


