<div class="full-width-row">
	<div>
		<div class = "row">
			<h4>Need for <%= @need.organization.name %></h4>
		
			<p><%= @need.description %> </p>
		
			<p><%= link_to "Make offer", '#' %></p>
		
			<p><%= link_to 'Back to all Needs', needs_path %> - <%= link_to 'home', root_path %></p>
		</div>
	</div>
</div