.view-page
  %div
    .row
      %h3= "#{@need.organization.name} needs"
      %p= @need.description
      %p= link_to "Make offer", new_offer_path(need_id: params[:id])
      %p= link_to "Back to all Needs", needs_path
