
%h1 Thank You!

%p= "An email has been sent to #{@offer.organization.name}, informing them of your desire to make a donation."
%p= "You should expect to receive an email response from a representative of #{@offer.organization.name} as soon as possible."
%p= "#{@offer.organization.name} has been provided these details regarding your desire to donate:"
%p= "Description: #{@offer.description}"
=image_tag "#{@offer.image}"
%p= "Your email address: #{@offer.email}"
%p= "Your name: #{@offer.name}"
%br
%p Thank you again,
%p The Connect2Good Team
%br
= link_to "FAQ", root_url #temporary link
\| 
= link_to "Make Another Donation", root_url