
%p= "Hello representative for #{@offer.organization.name},"
%p A Connect2Good donor would like to fill one of your organization's needs!
%p The donor has provided these details regarding the offered item:
%p= "#{@offer.description}"
=image_tag "#{@offer.image}"
%p= "The donor looks forward to hearing from you via email. Their email address is: #{@offer.email}"
%br
%p For more information:
= link_to "View Your Need Posting", need_url(@offer.need)
\| 
= link_to "View All of Your Organization's Offers", organization_offers_url(@offer.organization)
%br
%p Thank you,
%p The Connect2Good Team