= form_for @offer, url: create_offer_path() do |f|
  - if signed_in?
    - donor_id = current_user.id    
    - if current_user.name.present?
      %h5= current_user.name
    %h5= current_user.email
    %h7
      if this is not you please #{link_to "sign out", destroy_session_path(:user), method: :delete}
    %p
    %h4 Tell us a bit about what you have:
    = f.label :description
    = f.text_field :description
    = f.label :image
    = f.file_field :image
    = f.submit
  - else
    %h4 Tell us a bit about your offered donation:
    - donor_id = ""
    = f.label :name, "Name: please leave blank if you would prefer to remain anonymous."
    = f.text_field :name, :placeholder => "optional"
    = f.label :email, "Email: the organization will use this email to contact you."
    = f.text_field :email, :placeholder => "example@gmail.com"
    = f.label :description
    = f.text_field :description, :placeholder => "what it is, how old it is, what condition it is in..."
    = f.label :image
    = f.file_field :image
    = f.submit
    %p
    %h8
      have an account? #{link_to "sign in", user_session_path}