.large-8.columns#needsList 
  .row
    %h3 Offers 
    %p *This list is for your own record only. You need to contact the donor through email to accept the donation.
    %table
      %thead
        %tr
          %th Item
          %th Offer
          %th Donor
          %th Status
          %th Update
      %tbody
        - @offers.each do |offer|
          %tr
            - if offer.need
              %td= link_to offer.need.description.truncate(50), need_path(offer.need)
            - else
              %td This need has been deleted 
            %td= link_to offer.description.truncate(50), offer_path(offer)
            %td= offer.email     
            = form_for offer, remote: true do |f|
              %td
                = f.select :status, options_for_select(["pending","accepted","denied"], offer.status)
              %td
                = f.submit value: "Update", class: "button submit-offer"
.large-1.small-1.columns
  %p
    \