.view-page
  .large-3.small-1.columns
    %p
      \
  .large-6.small-10.columns
    %div
      .row
        %h3
          Thank you for your offer of: #{@offer.need.description}
        %p
          #{@offer.description}
        %h4
          To: #{@offer.organization.name}

        %img{src: @offer.image}/
        %br
        %br
        %p #{@offer.organization.name} will receive an email with your donation offer details and will be contacting you via email. Please allow a few days for them to respond.
        %p Thanks again!
        %p= link_to "Back to all needs", needs_path
  .large-3.small-1.columns
    %p
      \