.view-page
  .large-3.small-1.columns
    %p
      \
  .large-6.small-10.columns
    %div
      .row
        %h3
        Thank you for your offer of: #{@offer.description}
        %img{src: @offer.image}
        %br
        %br
        %h3 
          Recepient Organization: #{@offer.organization.name}
        %p 
          #{@offer.organization.name} has received an email with your donation offer details, and will be contacting you via email. Please allow a few days for them to respond.
        %p 
          Thanks again on behalf of the entire Connect2Good team!
        %p= link_to "View All Needed Items", needs_path
        %p= link_to "Back", :back

  .large-3.small-1.columns
    %p
      \