<div class="full-width-row">
	<div>
		<div class = "row">
			<h4>Need for <%= @offer.description %></h4>
		
			<p>For <%= @offer.organization.name %> </p>
			<img src="<%= @offer.image %>" >
			<p>Need ID:<%= @offer.need_id %></p>
			<p><%= link_to "See all offers", offers_path %></p>
		</div>
	</div>
</div>