.view-page
  %div
    .row.large-12.columns
      .large-4.columns
        %h3= @organization.name
        %p= @organization.description
        %p organizations Contact info. You know what this is.
        %img{src: "http://placekitten.com/300/150"}/
        / need to add additional routes for this link
        %h6 total needs: #{@organization.needs.length}
        %h6 total offers: #{@organization.offers.length}
        %h6 total offers pending: ?
        = form_for [@organization, @need], remote: true do |f|     
          %h4 List a new need:
          = f.select :category, options_for_select(["electronics","furniture","clothing"], @need.category)
          = f.label :description
          = f.text_field :description
          = f.submit
          %p
        = params[:id]
      .large-8.columns
        %h3.center#needs Needs
        %table
          %thead
            %tr
              %th Need Description
              %th Category
              %th
              %th
          %tbody
            - @organization.needs.each do |need|
              %tr
                %td
                  = link_to need.description, need_path(need) 
                %td
                  - if need.category.present?
                    = need.category 
                  - else
                    No category listed
                %td
                  = link_to 'Edit', need_path(need.id), method: :edit
                %td
                  = link_to 'Delete', need_path(need.id), method: :delete