.view-page
  %div
    .row.large-12.columns
      .large-4.columns
        %h3= @organization.name
        %p= @organization.description
        %p organizations Contact info. You know what this is.
        %img{src: "http://placekitten.com/300/150"}/
        / need to add additional routes for this link
        %h6 #{ link_to "total needs: #{@organization.needs.length}", organization_needs_path(params[:id]), id: 'need_index', remote: true }
        %h6 #{ link_to "total offers: #{@organization.offers.length}", organization_offers_path(params[:id]), id: 'offer_index', remote: true }
        - x = 0
        - @organization.offers.each do |offer|
          - offer.status == "pending" ? x += 1 : x
        %h6 total offers pending: #{x}
        = form_for [@organization, @need], remote: true do |f|     
          %h4 List a new need:
          = f.select :category, options_for_select(["electronics","furniture","clothing","other"], @need.category)
          = f.label :description
          = f.text_field :description
          = f.submit
          %p
      .large-8.columns#offers 
      .large-8.columns#needsList 
        %h3 Needs
        %table.center
          %thead
            %tr
              %th Need Description
              %th Category
              %th
              %th
          %tbody
            - @organization.needs.reverse.each do |need|
              = render partial: 'need', object: need 