%h6 #{ link_to "total needs: #{@organization.needs.length}", organization_path(params[:id]) }
%h6 #{ link_to "total offers: #{@organization.offers.length}", organization_offers_path(params[:id]), id: 'offer_index', remote: true }
.row
  %span.large3.columns
    %h6 
      total offers pending: 
      %span.pending-num= @pending
    %h6 
      total offers denied: 
      %span.denied-num= @denied
    %h6 
      total offers accepted:
      %span.accepted-num= @accepted