!!!
%html{lang: "en"}
  %head
    %meta{content: "width=device-width, initial-scale=1.0", name: "viewport"}
    %title= content_for?(:title) ? yield(:title) : "Connect2Good"
    = stylesheet_link_tag    "application"
    = javascript_include_tag "vendor/custom.modernizr"
    = csrf_meta_tags
  %body
    %nav.top-bar{"data-topbar" => ""}
      %ul.title-area
        %li.name
          %h1
            =link_to "Connect2Good", root_path
        %li.toggle-topbar.menu-icon
          %a{href: "#"} Menu
      %section.top-bar-section
        / Right Nav Section
        - if current_user
          %ul.right
            %li= link_to "Account", "#" 
            %li= link_to "Sign out", destroy_user_session_path, :method => :delete
        - else
          %ul.right
            %li= link_to "Sign in", new_user_session_path
            %li= link_to "Join", new_user_registration_path
    .full-width-row
      .center
        %h3 Connect 2 Good 
      .small-10.medium-6.large-4.small-centered.columns
        = form_tag needs_path, method: :get do
          .center
            = text_field_tag :query, params[:query], placeholder: "What would you like to donate?", class: "search"
          .center    
            = submit_tag "Search Needs", class: "button"
        = javascript_include_tag "application"
    .home-footer
      %a{href: "#"} 
        about
      %a= link_to "Join", new_user_registration_path
      %a{href: "#"}
        contact
      %div &nbsp;
      %a{href: "#"}
        privacy policy