%nav.top-bar{"data-topbar" => ""}
  %ul.title-area
    %li.name
      %h1
        =link_to "Connect2Good", root_path
    %li.toggle-topbar.menu-icon
      %a{href: "#"} Menu
  %section.top-bar-section
    / Right Nav Section
    %ul.right
      %li.has-form
        = form_tag needs_path, method: :get do
          .row.collapse
            .large-8.small-9.columns
              = text_field_tag :query, params[:query], placeholder: "Search Needs", class: "search"
            .large-4.small-3.columns
              = submit_tag "Search", class: "button expand"
      - if current_user
        %ul.user
          %li= link_to "Account", "#" 
          %li= link_to "Sign out", destroy_user_session_path, :method => :delete
      - else
        %ul.user
          %li= link_to "Sign in", new_user_session_path
          %li= link_to "Join", new_user_registration_path